/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Nunito:wght@200;400;700&display=swap');

/* CSS RESET */

*{
    margin:0;
    padding:0;
    border:0;
}
.icon{
    height: 24px;
}
/* Global >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
:root{
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat','sans-serif';
    font-size: 1em;
}
p{
    font-family: 'Nunito','sans-serif';
}
a{
    text-decoration: none;
    font-family: 'Nunito','sans-serif';
    color: var(--bs-dark);
}
li{
    list-style: none;
}
.container{
    margin:0 auto;
}
.flex{
    display: flex;
    align-items: center;
}
.maiusculo{
    text-transform: uppercase;
}
.gradiente{
    background-image: linear-gradient(90deg,#004fd2 0%,#a112dc 100%);
}
.botao{
    display: inline-block;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

/* Geral >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Cabeçalho de contatos */
#contato-box{
    background-color: var(--bs-primary);
    height: 50px;
}
#contatos{
    height: 50px;
    justify-content: space-between;
}
#contatos a,p{
    color: var(--bs-white);
    font-weight:400;
    font-size: 14px;
}
.margem1{
    margin-right: 20px;
}
.divisor{
    padding-right: 20px;
    border-right:1px solid #2a8af5;
}
.contato i{
    font-size: 18px;
    margin-right: 10px;
    color: var(--bs-white);
}
#contatos svg{
    height: 15px;
    margin-left: 15px;
    fill: var(--bs-white);
}
/* Cabeçalho de menus */
.menu-topo{
    height: 80px;
    justify-content: space-between;
    padding:0 50px;
}
.logo img{
    height: 50px;
}

/* DROPDOWN */
.dropdown{
    margin-right: 10px;
    position: relative;
}
.dropdown:hover>.droplist{
    display: block;
}
.dropbtn{
    padding: 29px 0;
    font-weight: 600;
}
.dropbtn:hover{
    background-color: #f3f3f3;
}
.droplist{
    position: absolute;
    z-index: 1;
    top: 51px;
    min-width: 200px;
    display: none;
}
.droplist a{
    display: block;
    padding: 10px;
    background-color: #fff;
}
.droplist a:hover{
    background-color:whitesmoke;
}


/* Destaque */
#destaque{
    background: url(/assets/img/background2.jpg);
    background-position: center;
    background-size:cover;
    height: 800px;
}
#conteudo-destaque{
    margin-left: 50px;
}
#conteudo-destaque #t1{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 15px;
}
#conteudo-destaque #t2{
    font-size: 1em;
    margin-bottom: 40px;
}
h1{
    color: #fff;
    font-size: 4em;
    font-weight: 900;
    margin-bottom:15px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:576px){
    /* Layout */
    .container{
        max-width: 540px;
    }
}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}